################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/BKBProductManagement/.vs/BKBProductManagement
/BKBProductManagement/BKBProductManagement/bin
/BKBProductManagement/BKBProductManagement/obj/Debug
/BKBProductManagement.Api/.vs/BKBProductManagement.Api
/BKBProductManagement.Api/BKBProductManagement.Api/bin/Debug/netcoreapp3.1
/BKBProductManagement.Api/BKBProductManagement.Api/obj
