@model BKBProductManagement.Areas.Product.ViewModel.NewProductViewModel
@{
    ViewBag.Title = "Cadastrar Produto";
}

@section scripts {
    <script>
        $(function () {
            if ("@Model.ViewAction" == "Post") {
                alert("@Model.ActionMessage");
            }
            
            $(".submit").click(function (e) {
                $("#formNewProduct").submit();
            });
        });
    </script>
}

<div class="fullHeight areaContainer" id="productMasterContainer">
    <div class="breadcrumb"><a href="@Url.Action("Index", "AdminHome", new { area = "Admin" })">Início</a> > Produtos > @ViewBag.Title</div>
    <div class="page-header">
        <div class="col-md-6 col-sm-12 col-area">
            <div class="header-image">
                <img src="~/Content/images/edit_icon.svg" alt="Ícone edição" />
            </div>
            <span>CADASTRAR PRODUTO</span>
        </div>
    </div>
    <div class="centerOnScreen">
        <form id="formNewProduct" class="crudView" method="post">
            <input class="form-control" type="text" name="name" placeholder="Nome" />
            <input class="form-control" type="text" name="description" placeholder="Descrição" />
            <input class="form-control" type="text" name="code" placeholder="Código" />
            <input class="form-control" type="text" name="weight" placeholder="Peso" />

            <div class="formSubmitButton">
                <div class="submit">
                    >
                </div>
            </div>
        </form>
    </div>
</div>
